@import url('https://fonts.googleapis.com/css?family=Acme');



* {
  margin: 0;
  padding: 0;
  font-family: 'Acme', sans-serif;
}


body{
  height: 100%;
  width: 100%;
}

.x {
  -webkit-user-select: none;
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none; 
}

.link{
  text-decoration: none;
  color: black !important;
}


link:link {
  color: rgb(0, 0, 0);
}

/* visited link */
link:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
link:hover {
  color: rgb(0, 0, 0);
}

/* selected link */
link:active {
  color: rgb(0, 0, 0);
}


a {
  color: rgb(0, 0, 0);
}
a:hover {
   color: rgb(0, 0, 0)
}