.navMain{
    background: #d8c37a;
    position: sticky;
    height: 60px;
    top: 0px;
    bottom: 0px;
    z-index: 10;
    display: grid;
    grid-template-columns: 10px 80px auto 100px 100px 100px 100px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}

.navImg{
    margin-top: 5px;
}

.navLink{
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: black;
}

.navLink:hover{
    background: rgba(0, 0, 0, 0.116);
}