.background-location-banner{
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    background: #2e1f01;
    height: 70vh;
    min-height: 500px;
    border: solid 5px #2e1f01;
    width: 90%;
    background: url("./Capture1.png");
    background-size: cover;
}