#menu-list-drink-information-box{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #d8c37a;
    max-height: 500px;
    width: 90%;
}

.menu-list-drink-item-information-text-wrapper-coffee{
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    width: 95%;
}