.background{
    background: #2e1f01;
    height: 91vh;
    min-height: 500px;
    width: 100%;
    background: url("../mainPage/paralaxview1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.body-welcome-message-wrapper{
    display: grid;
    grid-template-columns: auto minmax(300px, 50vw) auto;
    grid-template-rows: 100px minmax(350px, 50vh) 200px;

}

.body-welcome-message{
    background: rgba(255, 255, 255, 0.288);
    border-radius: 20px;
    animation: slide-greeting 1s, greeting-opacity 1.5s;
}

.body-welcome-text{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    justify-content: center;
    text-align: center;
    font-size: 5em;
    height: 100%;
    margin-top: 10vh;
    color: rgb(0, 0, 0);

}

.separator{
    background: #d8c37a;
    margin: 0 auto;
    height: 5px;
    width: 90vw;
    margin-bottom: 10px;
}

@keyframes slide-greeting {
    from { 
        position: relative;
        right: 200px
     }
    to   { 
        position: relative;
        right: 0
    }
}

@keyframes greeting-opacity {
    from { 
        opacity: 0;
     }
    to   { 
        opacity: 1; 
    }
}




@media screen and (max-width: 910px) {

    .body-welcome-text{
        font-size: 4em;
    
    }
}


@media screen and (max-width: 400px) {

    .body-welcome-message-wrapper{
        grid-template-rows: 50px minmax(350px, 50vh) 200px;
    
    }
}

@media screen and (min-width: 1600px) {

    .body-welcome-text{
        grid-template-columns: auto 700px auto;
    
    }

}


